<!DOCTYPE html>
<html lang="en">

<head>
    {% if args.title.as_ref().is_none() %}
    <title>MicroBin</title>
    {%- else %}
    <title>{{ args.title.as_ref().unwrap() }}</title>
    {%- endif %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{{ args.public_path_as_str() }}/static/favicon.ico">

    <script type="text/javascript" src="{{ args.public_path_as_str() }}/static/aes.js"></script>
    {% if !args.pure_html %}
      {% if args.custom_css.as_ref().is_none() || args.custom_css.as_ref().unwrap() == "" %}
    <link rel="stylesheet" href="{{ args.public_path_as_str() }}/static/water.css">
      {%- else %}
    <link rel="stylesheet" href="{{ args.custom_css.as_ref().unwrap() }}">
      {%- endif %}
    {%- endif %}
</head>

{% if args.wide %}
<body class="wide">
{%- else %}
<body>
{%- endif %}

{% if !args.hide_header %}
<div id="nav">
    <b>
        {% if !args.hide_logo %}
        <a href="{{ args.public_path_as_str() }}/">
            <img src="{{ args.public_path_as_str() }}/static/logo.png" alt="MicroBin">
        </a>
        {%- endif %}
        {% if args.title.as_ref().is_some() %}{{ args.title.as_ref().unwrap() }}{%- endif %}
    </b>

    <a href="{{ args.public_path_as_str() }}/">New</a>

    {% if !args.no_listing %}
    <a href="{{ args.public_path_as_str() }}/list">List</a>
    {%- endif %}

    <a href="{{ args.public_path_as_str() }}/guide">Guide</a>
</div>
{%- endif %}
